In [6]:
import pandas as pd

In [7]:
data=pd.read_csv('train.csv')

In [8]:
data

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

In [10]:
data.head(3)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False

In [11]:
data.isnull().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

In [12]:
import time
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score, confusion_matrix, f1_score, mean_absolute_error
from sklearn.preprocessing import LabelEncoder, StandardScaler, MinMaxScaler
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings('ignore')
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
import pickle
from xgboost import XGBClassifier
from sklearn.pipeline import Pipeline
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import GridSearchCV

In [13]:
train=pd.read_csv('train.csv')

In [14]:
dic_id = {}
for i in train['PassengerId'] :
    dic_id[i] = i[:4]

train['pid'] = train['PassengerId'].map(dic_id) #pid 변수 생성

In [15]:
dest_group =train.groupby(['pid','Destination']).size().reset_index()

In [16]:
dest_group = dest_group.sort_values(0, ascending = False) #정렬 한 후

In [17]:
dest_group = dest_group.drop_duplicates() #가장 위에값만 남기고 중복값들을 지움 / 가장 큰 값만 남음.

In [18]:
dest_dict ={}
for p, d in zip(dest_group['pid'], dest_group['Destination']) :
    dest_dict[p] = d

In [19]:
train['Destination'].fillna(train['Destination'].map(dest_dict), inplace=True) #그룹이 같은 사람은 목적지가 같을거란 가정으로 Destination의 null값 1차전처리

In [20]:
train['Destination'].fillna('TRAPPIST-1e', inplace=True) # 나머지는 최빈값인 TRAPPIST-1e로 전처리

In [21]:
train['fee'] =train['RoomService']+train['FoodCourt']+train['ShoppingMall']+train['Spa']+train['VRDeck'] #돈쓰는 항목들 5개의 총합을 내어 fee라는 변수 생성!

In [22]:
train['CryoSleep'] = np.where(train['fee'] >0 , False, True) #냉동된 상태인 사람들은 fee소모가 없을 것이기 때문에 fee가 있으면 false로 아니면 true로 전처리

In [23]:
home_group =train.groupby(['pid','HomePlanet']).size().reset_index()

home_dict = {}
for p, hp in zip(home_group['pid'], home_group['HomePlanet']) :
    #print(p, hp)
    home_dict[p] = hp

train['HomePlanet'].fillna(train['pid'].map(home_dict), inplace=True) #HomePlanet null 전처리과정 1번

train['lastname'] = train['Name'].str.split(' ').str[-1] #lastname 변수 생성

In [24]:
name_group =train.groupby(['lastname','HomePlanet']).size().reset_index()

name_dict = {}
for g, hp in zip(name_group['lastname'], name_group['HomePlanet']) :
    #print(g, hp)
    name_dict[g] = hp #HomePlanet null 전처리과정 2번

In [25]:
home_dest= {'TRAPPIST-1e' :'Earth', '55 Cancri e' :'Europa', 'PSO J318.5-22' :'Earth'}

train['HomePlanet'].fillna(train['Destination'].map(home_dest), inplace=True) #HomePlanet 최종전처리

In [26]:
cab=train['Cabin'].str.split('/', expand=True) #cabin항목을 3개 항목으로 나누기
cab.columns= (['deck','num','side'])
train = pd.concat([train,cab], axis=1) #나눈 3항목을 기존 train에 추가 ( deck, num, side )

In [27]:
train['deck'].fillna(train['HomePlanet'].map({'Earth':'G', 'Europa':'B','Mars':'F'}), inplace=True) #deck 항목의 null값 전처리

In [28]:
side_group =train.groupby(['pid','side']).size().reset_index()

In [29]:
side_dict = {}
for p,s in zip(side_group['pid'], side_group['side']) :
    #print(g, hp)
    side_dict[p] = s

In [30]:
train['side'].fillna(train['pid'].map(side_dict), inplace=True)  #side 항목의 1차 전처리 (id의 그룹넘버로 유추한 같은 그룹인은 같은 side에 있다는 가정)

In [31]:
train['side'].fillna('S', inplace=True) #side 항목의 최종 전처리 (그래도 남는 항목은 S로 처리~~)

In [32]:
train['VIP'].fillna(False, inplace=True) #VIP 항목의 전처리 (최빈값인 False로 다 채움)

In [33]:
fee_list =['RoomService','FoodCourt','ShoppingMall','Spa','VRDeck']

In [34]:
for col in fee_list :
    #print(col, train[col].isnull().sum(), train[col].median())
    train[col].fillna(0, inplace=True)  #5개 항목의 median이 전부다 0이라 5개항목의 null값들에 전부다 0을 부여

In [35]:
train['fee'] =train['RoomService']+train['FoodCourt']+train['ShoppingMall']+train['Spa']+train['VRDeck'] #돈쓰는 항목들 5개의 총합을 내어 fee라는 변수 생성!

In [36]:
train['Age'].fillna(27, inplace=True) #Age의 median값인 27로 null값 전부다 처리

In [37]:
col_list = ['HomePlanet','Destination','pid','deck','side']
for col in col_list : 
    label = LabelEncoder()
    label.fit(train[col].unique())
    train[col] = label.transform(train[col])

In [38]:
del_col = ['PassengerId' , 'Cabin' , 'Name' , 'lastname', 'num', 'pid']

In [39]:
train = train.drop(del_col, axis=1)

In [40]:
train

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,fee,deck,side
0,1,True,2,39.0,False,0.0,0.0,0.0,0.0,0.0,False,0.0,1,0
1,0,False,2,24.0,False,109.0,9.0,25.0,549.0,44.0,True,736.0,5,1
2,1,False,2,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False,10383.0,0,1
3,1,False,2,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False,5176.0,0,1
4,0,False,2,16.0,False,303.0,70.0,151.0,565.0,2.0,True,1091.0,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,1,False,0,41.0,True,0.0,6819.0,0.0,1643.0,74.0,False,8536.0,0,0
8689,0,True,1,18.0,False,0.0,0.0,0.0,0.0,0.0,False,0.0,6,1
8690,0,False,2,26.0,False,0.0,0.0,1872.0,1.0,0.0,True,1873.0,6,1
8691,1,False,0,32.0,False,0.0,1049.0,0.0,353.0,3235.0,False,4637.0,4,1
8692,1,False,2,44.0,False,126.0,4688.0,0.0,0.0,12.0,True,4826.0,4,1

In [43]:
import lightgbm as lgb

In [47]:
model=lgb

In [48]:
#pip install lightgbm

Requirement already satisfied: lightgbm in c:\users\user\anaconda3\lib\site-packages (3.3.3)
Requirement already satisfied: numpy in c:\users\user\anaconda3\lib\site-packages (from lightgbm) (1.21.5)
Requirement already satisfied: wheel in c:\users\user\anaconda3\lib\site-packages (from lightgbm) (0.37.1)
Requirement already satisfied: scikit-learn!=0.22.0 in c:\users\user\anaconda3\lib\site-packages (from lightgbm) (1.0.2)
Requirement already satisfied: scipy in c:\users\user\anaconda3\lib\site-packages (from lightgbm) (1.7.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\user\anaconda3\lib\site-packages (from scikit-learn!=0.22.0->lightgbm) (2.2.0)
Requirement already satisfied: joblib>=0.11 in c:\users\user\anaconda3\lib\site-packages (from scikit-learn!=0.22.0->lightgbm) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [51]:
pipe=make_pipeline(StandardScaler(), XGBClassifier())

In [ ]:
pipe